html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
body header {
  padding-left: 165px;
  padding-right: 165px;
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  background: #E1EDE6;
}
body header nav {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  font-size: clamp(18px, 2vw, 20px);
}
body header nav .logo {
  display: inline-block;
}
body header nav .logo .logo_link {
  white-space: nowrap;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #598D66;
}
body header nav .nav-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  align-items: center;
  gap: 60px;
}
body header nav .nav-menu .nav-menu_item:first-child {
  display: none;
}
body header nav .nav-menu .nav-menu_link {
  text-decoration: none;
  color: #2C2D35;
  white-space: nowrap;
}
body main .welcome-page {
  padding-top: 105px;
  padding-left: 165px;
  padding-right: 165px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 30px;
}
body main .welcome-page .welcome-page_img {
  width: 50%;
}
body main .welcome-page .welcome-page_img img {
  width: 100%;
}
body main .welcome-page .welcome-page_box {
  width: 50%;
  font-weight: 500;
}
body main .welcome-page .welcome-page_box .welcome-page_title {
  color: #2C2D35;
  margin: 0;
  font-size: clamp(40px, 5vw, 60px);
  line-height: 110%;
  padding-bottom: 20px;
}
body main .welcome-page .welcome-page_box .welcome-page_title .welcome-page_title__accent {
  color: #598D66;
  white-space: nowrap;
}
body main .welcome-page .welcome-page_box .welcome-page_desc {
  margin: 0;
  color: #86928B;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: clamp(40px, 5vw, 60px);
}
body main .welcome-page .welcome-page_box .welcome-page_btn {
  cursor: pointer;
  color: #598D66;
  font-size: 20px;
  display: inline-flex;
  height: 65px;
  box-sizing: border-box;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid #598D66;
  background-color: #fff;
}
body .cart-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(225, 237, 230, 0.5);
}
body .cart-modal .wrapper-cart {
  width: 80vw;
  height: 80vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 32px;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .cart-modal .wrapper-cart .cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .cart-modal .wrapper-cart .cart_header .cart_header-title {
  color: #2C2D35;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
}
body .cart-modal .wrapper-cart .cart_header .cart_header-close {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
body .cart-modal .wrapper-cart .cart {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-grow: 1;
  overflow-y: scroll;
}
body .cart-modal .wrapper-cart .cart .product {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 260px;
  background-color: #E1EDE6;
  align-items: center;
  justify-content: space-between;
}
body .cart-modal .wrapper-cart .cart .product .product_img {
  display: flex;
  height: 100%;
  width: 179px;
}
body .cart-modal .wrapper-cart .cart .product .product_desc {
  font-size: 27px;
}
body .cart-modal .wrapper-cart .cart .product .product_quantity-control .quantity-control {
  cursor: pointer;
  font-size: 40px;
  width: 50px;
  height: 50px;
  border: none;
  background: #598D66;
  color: white;
  border-radius: 5px;
}
body .cart-modal .wrapper-cart .cart .product .product_sum {
  color: #598D66;
}
body .cart-modal .wrapper-cart .cart .product .product_delete {
  cursor: pointer;
}
body .cart-modal .wrapper-cart .cart_footer .cart_result {
  text-align: end;
  margin: 0;
}
body .cart-modal__active {
  display: flex;
}
body .wrapper-reproductions {
  padding: 114px 165px 0 165px;
  margin-top: -38px;
  box-sizing: border-box;
}
body .wrapper-reproductions div .reproductions-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
body .wrapper-reproductions div .reproductions-nav .reproductions-nav_title {
  margin: 0;
  color: #2C2D35;
  font-size: clamp(30px, 4vw, 40px);
  font-weight: 500;
  line-height: 110%;
}
body .wrapper-reproductions div .reproductions-nav .reproductions-nav_tabs {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body .wrapper-reproductions div .reproductions-nav .reproductions-nav_tabs .reproductions-nav_tab {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background: #D4E8D9;
}
body .wrapper-reproductions div .reproductions-nav .reproductions-nav_tabs .reproductions-nav_tab .reproductions-nav-tabs_link {
  text-decoration: none;
  color: #2C2D35;
  font-size: 20px;
}
body .wrapper-reproductions div .reproductions-nav .reproductions-nav_tabs .reproductions-nav_tab__active {
  background: #376B44;
}
body .wrapper-reproductions div .reproductions-nav .reproductions-nav_tabs .reproductions-nav_tab__active .reproductions-nav-tabs_link {
  color: #F4F6F5;
}
body .wrapper-reproductions div .reproductions {
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
}
body .wrapper-reproductions div .reproductions .reproductions-card {
  background-color: #E1EDE6;
  padding: 20px;
  max-width: 350px;
  width: 33.3%;
  min-width: 329px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_inner {
  margin: 0;
}
body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_inner .reproductions-card_img {
  width: 100%;
  height: 422px;
}
body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_inner .reproductions-card_subtitle {
  color: #86928B;
  font-size: 18px;
  padding-top: 20px;
}
body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_title {
  color: #2C2D35;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding-top: 10px;
}
body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_desc {
  margin: 0;
  padding-top: 8px;
  font-size: 18px;
  color: #2C2D35;
}
body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_price {
  color: #598D66;
  font-size: 24px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}
body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_btn {
  height: 65px;
  border: 1px solid #598D66;
  background-color: transparent;
  color: #598D66;
  font-size: 20px;
  cursor: pointer;
}
body .wrapper-reproductions div .reproductions__active {
  display: flex;
}

@media (min-width: 768px) and (max-width: 1400px) {
  body header {
    padding-left: 39px;
    padding-right: 39px;
  }
  body main .welcome-page {
    padding-left: 39px;
    padding-right: 39px;
  }
  body .wrapper-reproductions {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media (max-width: 768px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  body header {
    padding-left: 0px;
    padding-right: 0px;
  }
  body header nav {
    padding: 16px 33px;
    flex-wrap: wrap;
  }
  body header nav .nav-menu {
    padding-left: 0;
  }
  body main .welcome-page {
    padding: 65px 0 0 0;
    margin: 0 33px 50px 33px;
  }
  body main .welcome-page .welcome-page_img {
    width: 195px;
  }
  body main .welcome-page .welcome-page_box {
    width: 55%;
  }
  body main .welcome-page .welcome-page_box .welcome-page_title {
    font-size: 36px;
    font-weight: normal;
  }
  body .wrapper-reproductions {
    padding: 86px 0 0 0;
    margin: -86px 30px 30px 30px;
  }
  body .wrapper-reproductions div .reproductions-nav .reproductions-nav_title {
    font-size: 24px;
  }
  body .wrapper-reproductions div .reproductions-nav .reproductions-nav_tabs .reproductions-nav_tab .reproductions-nav-tabs_link {
    font-size: 18px;
  }
  body .wrapper-reproductions div .reproductions .reproductions-card {
    min-width: 240px;
    height: 514px;
  }
  body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_inner .reproductions-card_subtitle {
    padding-top: 5px;
    font-size: 16px;
  }
  body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_inner .reproductions-card_img {
    height: 250px;
  }
  body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_title {
    font-size: 24px;
  }
  body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_desc {
    font-size: 16px;
  }
  body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_price {
    font-size: 20px;
    margin-bottom: 10px;
  }
  body .wrapper-reproductions div .reproductions .reproductions-card .reproductions-card_btn {
    font-size: 18px;
  }
}
@media (max-width: 640px) {
  body header nav {
    flex-wrap: wrap;
    justify-content: center;
    background: #E1EDE6;
  }
  body header nav .logo {
    padding-bottom: 17px;
    font-size: 20px;
  }
  body header nav .nav-menu {
    padding-left: 0;
    padding-top: 17px;
    border-top: 1px solid #C3D1C6;
  }
  body .wrapper-reproductions {
    padding: 145px 0 0 0;
    margin: -145px 33px 50px 33px;
  }
}
@media (max-width: 500px) {
  body {
    padding: 0;
  }
  body header {
    position: static;
  }
  body header nav {
    padding: 0;
  }
  body header nav .logo {
    width: 100%;
    background-color: white;
    padding: 17px 15px;
  }
  body header nav .logo .logo_link {
    justify-content: center;
  }
  body header nav .nav-menu {
    box-sizing: border-box;
    background-color: #E1EDE6;
    border: none;
    width: 100%;
    padding: 16px 15px;
    justify-content: space-between;
  }
  body header nav .nav-menu .nav-menu_item {
    display: none;
  }
  body header nav .nav-menu .nav-menu_item:last-child {
    display: block;
  }
  body header nav .nav-menu .nav-menu_item:first-child {
    display: block;
  }
  body main .welcome-page {
    padding: 0;
    margin: 15px;
  }
  body main .welcome-page .welcome-page_img {
    display: none;
  }
  body main .welcome-page .welcome-page_box {
    width: 100%;
  }
  body main .welcome-page .welcome-page_box .welcome-page_title {
    font-size: 30px;
  }
  body main .welcome-page .welcome-page_box .welcome-page_desc {
    font-size: 14px;
  }
  body main .welcome-page .welcome-page_box .welcome-page_btn {
    font-size: 18px;
  }
  body .wrapper-reproductions {
    margin: 60px 15px;
    padding: 0;
  }
  body .wrapper-reproductions div .reproductions-nav .reproductions-nav_tabs {
    overflow-y: scroll;
  }
  body .wrapper-reproductions div .reproductions .reproductions-card {
    width: 290px;
  }
}
@media (max-width: 300px) {
  body header {
    min-width: 290px;
  }
  body main {
    min-width: 290px;
  }
  body .wrapper-reproductions {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    min-width: 290px;
  }
  body .wrapper-reproductions div .reproductions .reproductions-card {
    width: 240px;
  }
}/*# sourceMappingURL=style.css.map */