html {
   scroll-behavior: smooth;  
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    
    header {
        padding-left: 165px;
        padding-right: 165px;
        box-sizing: border-box;
        position: fixed;
        width: 100vw;
       background: #E1EDE6;

        nav {
            display: flex;
            justify-content: space-between;
            padding: 35px 0;
           
            font-size: clamp(18px, 2vw, 20px);
            .logo {
            display: inline-block;
                .logo_link {
                    white-space: nowrap;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    font-weight: 700;
                    color: #598D66;
                }
            }
            .nav-menu {
                list-style-type: none;
                display: flex;
                margin: 0;
                align-items: center;
                gap: 60px;
                .nav-menu_item:first-child {
                    display: none;
                }
                .nav-menu_link {
                    text-decoration: none;
                    color: #2C2D35;
                    white-space: nowrap;
                }
        }
        }
        
    }
    main {
        .welcome-page {
            padding-top: 105px;
            padding-left: 165px;
            padding-right: 165px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            gap: 30px;
            .welcome-page_img {
                width: 50%; 
                img {
                    width: 100%;
                }
            }
            .welcome-page_box {
                width: 50%;
                font-weight: 500;
                .welcome-page_title {
                    color: #2C2D35;
                    margin: 0;
                    // font-size: 60px;
                    font-size: clamp(40px, 5vw, 60px);
                    line-height: 110%;
                    padding-bottom: 20px; 
                    .welcome-page_title__accent {
                        color: #598D66;
                        white-space: nowrap;
                    }
                }
                .welcome-page_desc {
                    margin: 0;
                    color: #86928B;
                    font-size: 18px;
                    line-height: 150%;
                    // padding-bottom: 60px;
                    padding-bottom: clamp(40px, 5vw, 60px);
                }
                .welcome-page_btn {
                    cursor: pointer;
                    color: #598D66;
                    font-size: 20px;
                    display: inline-flex;
                    height: 65px;
                    box-sizing: border-box;
                    padding: 20px 60px;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #598D66;
                    background-color: #fff;
                }
            }
        }
    }
    .wrapper-reproductions {
        padding: 114px 165px 0 165px;
        // padding-top: 114px;
        margin-top: -38px;
        // padding-left: 165px;
        // padding-right: 165px;
        box-sizing: border-box;
        div {
            
            .reproductions-nav {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 20px;
                .reproductions-nav_title {
                    margin: 0;
                    color: #2C2D35;
                    // font-size: 40px;
                    font-size: clamp(30px, 4vw, 40px);
                    font-weight: 500;
                    line-height: 110%;
                }
                .reproductions-nav_tabs {
                    display: flex;
                    gap: 30px;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    .reproductions-nav_tab {
                        display: inline-block;
                        padding: 10px 20px;
                        border-radius: 20px;
                        background: #D4E8D9;
                        .reproductions-nav-tabs_link {
                            text-decoration: none;
                            color: #2C2D35;
                            font-size: 20px;
                        }
                    }
                    .reproductions-nav_tab__active {
                        background: #376B44;
                        .reproductions-nav-tabs_link {
                            color: #F4F6F5;
                        }  
                        
                    }

                }
            }
            .reproductions {
                display: none;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 30px;
                padding-top: 30px;
                .reproductions-card {
                background-color: #E1EDE6;
                padding: 20px;
                max-width: 350px;
                width: 33.3%;
                min-width: 329px;
              
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .reproductions-card_inner {
                    margin: 0;
                    .reproductions-card_img {
                        width: 100%;
                        height: 422px;
                    }
                    .reproductions-card_subtitle {
                        color: #86928B;
                        font-size: 18px;
                        padding-top: 20px;
                    }
                }
                .reproductions-card_title {
                    color: #2C2D35;
                    font-size: 30px;
                    font-weight: 500;
                    margin: 0;
                    padding-top: 10px;
                }
                .reproductions-card_desc {
                    margin: 0;
                    padding-top: 8px;
                    font-size: 18px;
                    color: #2C2D35;
                }
                .reproductions-card_price {
                    color: #598D66;
                    font-size: 24px;
                    margin: 0;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
                .reproductions-card_btn {
                    // width: 310px;
                    height: 65px;
                    border: 1px solid #598D66;  
                    background-color: transparent;
                    color: #598D66;
                    font-size: 20px;
                    cursor: pointer;

                }
                }
            }
            .reproductions__active {
                display: flex;
            }
            
        }
    }
}
@media (min-width: 768px)  and (max-width: 1400px){
    body {
        header {
        padding-left: 39px;
        padding-right: 39px;
        }
        main {
            .welcome-page {
                padding-left: 39px;
            padding-right: 39px;
            }
        }
        .wrapper-reproductions {
            padding-left: 39px;
            padding-right: 39px;
        }
    }
}
@media (max-width: 768px) {
     body {
        padding-left: 0px;
        padding-right: 0px;
        header {
            padding-left: 0px;
            padding-right: 0px;
            nav {
                padding: 16px 33px;
                flex-wrap: wrap;
                .nav-menu {
                padding-left: 0; 
            }
            }
        }
        main {
            .welcome-page {
                padding: 65px 0 0 0;
                margin: 0 33px 50px 33px;
                .welcome-page_img {
                    width: 195px;
                }
                .welcome-page_box {
                    width: 55%;
                    .welcome-page_title {
                        font-size: 36px;
                        font-weight: normal;
                    }
                }
            }
        }
        .wrapper-reproductions {
            padding: 86px 0 0 0;
            // padding-left: 0px;
            // padding-right: 0px;
            margin: -86px 30px 30px 30px;
            // margin: 30px;
            div {
                 .reproductions-nav {
                        .reproductions-nav_title {
                            font-size: 24px;
                        }
                        .reproductions-nav_tabs {
                            .reproductions-nav_tab {
                                .reproductions-nav-tabs_link {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                .reproductions {
                   
                    .reproductions-card {
                        min-width: 240px;
                        height: 514px;
                        .reproductions-card_inner{
                            
                            .reproductions-card_subtitle {
                                padding-top: 5px;
                                font-size: 16px;
                            }
                            .reproductions-card_img {
                                height: 250px;
                            }

                        }
                        .reproductions-card_title {
                            font-size: 24px;
                        }
                        .reproductions-card_desc {
                            font-size: 16px;
                        }
                        .reproductions-card_price {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                        .reproductions-card_btn{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
      
    }
    
}
@media (max-width: 640px) {
    body {
        header {
            nav {
               flex-wrap: wrap;
               justify-content: center;
               background: #E1EDE6;
               .logo {
                padding-bottom: 17px;
                font-size: 20px;
               }
               .nav-menu {
                padding-left: 0;
                padding-top: 17px;
                border-top: 1px solid #C3D1C6;
               }
            } 
        }
        .wrapper-reproductions {
              padding: 145px 0 0 0;
              margin: -145px 33px 50px 33px;
        }
       
         
    } 
}
@media (max-width:500px) {
    
    body {
      padding: 0;
       
        header {
            position: static;
            nav {
                padding: 0;
                .logo {
                    width: 100%;
                    background-color: white;
                    padding: 17px 15px;
                    .logo_link {
                        justify-content: center;
                        
                    }
                }
                .nav-menu {
                    box-sizing: border-box;
                    background-color: #E1EDE6;;
                    border: none;
                    width: 100%;    
                    padding: 16px 15px;
                    justify-content: space-between;
                    .nav-menu_item {
                    display: none; 
                    }
                    .nav-menu_item:last-child {
                        display: block;
                    }
                    .nav-menu_item:first-child {
                        display: block;
                    }
                }
                    
            }
        }
        main {
            .welcome-page {
           padding: 0;
            margin: 15px;
            .welcome-page_img {
                display: none;
            }
            .welcome-page_box {
                width: 100%;
                .welcome-page_title {
                    font-size: 30px;
                }
                .welcome-page_desc {
                    font-size: 14px;
                }
                .welcome-page_btn {
                    font-size: 18px;
                }
            }
             }
        }
        .wrapper-reproductions {
            margin: 60px 15px;
            padding: 0;
            div {
                .reproductions-nav {
                    .reproductions-nav_tabs {
                        overflow-y: scroll;
                    }
                }           
                .reproductions {
                    .reproductions-card {
                        width: 290px;
                          
                    }
                }
                    
                }
              
            }
        }
    }
@media (max-width:300px) {
    
    body {
        header {
            min-width: 290px;
        }
        main {
            min-width: 290px;
        }
        .wrapper-reproductions {
            margin: 0;
            padding: 15px;
            box-sizing: border-box;
            min-width: 290px;
            div {
                .reproductions {
                    .reproductions-card {
                        width: 240px;
                    }
                }
            }
        }
    }
 
}